# Technical documentation website mirror
technical-docs/ireal-pro-custom-chord-chart-protocol*

# Default virtual environment
env

# Generated API docs default directory
.api_docs

# Editor config / swap files
*.sw?
.vscode

# Python stuff
__pycache__
dist
build
*.egg-info
.mypy_cache
.pytest_cache
.hypothesis
